  <!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
           
                         ice </th>
                                                        <th> Qty </th>
                                                        <th> Sold Date </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                             </table>
                                        </div>
                                        <div class="col-md-4">
                                            <form class="form-horizontal">
                                                <div class="row" style="height:400px;">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="title">All Sales:</label>
                                                        <div class="col-md-8">
                                                            <input id="AllSales_1" type="text" class="form-control input-large" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="title">All Tickets Sold:</label>
                                                        <div class="col-md-8">
                                                            <input id="AllTickets_1" type="text" class="form-control input-large" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="title">Average Price:</label>
                                                        <div class="col-md-8">
                                                            <input id="AvgPrice_1" type="text" class="form-control input-large" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="title">Filtered Sales:</label>
                                                        <div class="col-md-8">
                                                            <input id="FilterSales_1" type="text" class="form-control input-large" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="title">Filtered Tickets:</label>
                                                        <div class="col-md-8">
                                                            <input id="FilterTickets_1" type="text" class="form-control input-large" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label" for="title">Filtered Average Price:</label>
                                                        <div class="col-md-8">
                                                            <input id="FilterAvgPrice_1" type="text" class="form-control input-large" />
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </form>
                                        </div>    
                                    </div>    
                                </div>
                             
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

</div>
<!-- END CONTAINER -->